---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { SEO } from "astro-seo";

import { Divider } from "@pierogis/utensils";
import Base from "./Base.astro";

interface Props {
  loaf: CollectionEntry<"loafs">;
}

const { loaf } = Astro.props;
const { data } = loaf;

const {
  title,
  publishedDate,
  subtitle,
  description,
  author,
  twitterHandle,
  image,
  alt,
  tags,
} = data;
---

<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "loaf",
          image: image.src,
        },
        image: {
          url: image.src,
          alt: alt,
        },
      }}
      twitter={{
        title: title,
        description: description,
        card: image ? ("summary_large_image" as const) : ("summary" as const),
        creator: twitterHandle ? "@" + twitterHandle : undefined,
        image: image.src,
        imageAlt: alt,
      }}
    />
  </head>
  <Base pageTitle={title}>
    <article>
      <div>
        <div class="lead">
          <h1 class="title">
            {title}
          </h1>
          <i>{subtitle}</i>
          <div class="metadata">
            <p class="author">{author}</p>
            <p class="date">
              {publishedDate.toISOString().slice(0, 10)}
            </p>
          </div>
        </div>

        <Divider horizontal margin="0" />
      </div>

      <div class="content">
        <Image
          src={image}
          {alt}
          height={image.height / 2}
          class="image border"
        />

        <div>
          <slot />
        </div>
      </div>
    </article>

    <div>
      {
        tags.map((tag) => {
          return (
            <a href={`/tags/${tag}`}>
              <i>#{tag}</i>
            </a>
          );
        })
      }
    </div>
  </Base>

  <style>
    .image {
      border-radius: 16px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      max-width: 768px;
    }
    .lead {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 768px;
    }

    .title {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
      letter-spacing: -0.025em;
    }

    .metadata {
      display: flex;
      justify-content: flex-start;
      margin-top: 0.5rem;
      width: 100%;
      gap: 8px;
    }

    @media (min-width: 640px) {
      .metadata {
        justify-content: center;
      }
    }

    @media (min-width: 768px) {
      .title {
        font-size: 3rem;
        line-height: 1;
        text-align: center;
      }
      .content {
        padding: 0 10rem;
      }
      .metadata {
        justify-content: space-between;
      }
    }

    .author {
      font-weight: 700;
    }
    .date {
      font-weight: 600;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</html>
