---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { SEO } from "astro-seo";

import { Divider } from "@pierogis/utensils";
import Base from "./Base.astro";

interface Props {
  loaf: CollectionEntry<"loafs">;
}

const { loaf } = Astro.props;
const { data } = loaf;

const {
  title,
  publishedDate,
  subtitle,
  description,
  author,
  image,
  alt,
  tags,
} = data;
---

<html lang="en">
  <Base
    title={title}
    description={description}
    type="article"
    og={{
      image: image.twitter.src,
      alt: alt,
    }}
    twitter={{
      card: "summary",
      image: image.og.src,
      alt: alt,
      handle: author.twitterHandle,
    }}
  >
    <article>
      <div class="lead">
        <h1 class="title">
          {title}
        </h1>
        <i>{subtitle}</i>
        <div class="metadata">
          <p class="author">{author.name}</p>
          <p class="date">
            {publishedDate.toISOString().slice(0, 10)}
          </p>
        </div>
        <Divider horizontal margin="0" />
      </div>

      <!-- <Image
        src={image[1200]}
        widths={[300, 600, image[1200].width]}
        sizes={`(max-width: 360px) 300px, (max-width: 720px) 600px, ${image[1200].width}px`}
        {alt}
      /> -->

      <picture>
        <source
          srcset={image[300].src}
          width={image[300].width}
          height={image[300].height}
          media="(orientation: portrait), (max-width: 768px)"
        />
        <source
          srcset={image[600].src}
          width={image[600].width}
          height={image[600].height}
          media="(max-width: 1500px)"
        />
        <img
          src={image[1200].src}
          width={image[1200].width}
          height={image[1200].height}
          {alt}
          class="border"
        />
      </picture>

      <div class="content">
        <slot />
      </div>
      <div class="tags">
        {
          tags.map((tag) => {
            return (
              <a href={`/tags/${tag}`}>
                <i>#{tag}</i>
              </a>
            );
          })
        }
      </div>
    </article>
  </Base>

  <style>
    img {
      image-rendering: pixelated;
    }

    .lead {
      display: flex;
      gap: 0.5em;
      flex-direction: column;
      justify-content: center;
      max-width: 768px;
    }

    .metadata {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 8px;
    }

    .author {
      font-weight: 700;
    }

    .author,
    .date,
    .title {
      margin: 0;
    }

    .content {
      margin: 0 5em;
      display: flex;
      flex-direction: column;
    }

    @media (orientation: portait) {
      img {
        max-width: 90vw;
      }
    }

    @media (max-width: 768px) {
      .title {
        text-align: center;
      }
      .content {
        margin: 0;
      }
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>


</html>
